/* basic config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* signup config */
.signup__container {
  margin: 20px 80px;
}
.signup__form_container {
  width: 300px;
  height: 400px;
  background-color: rgb(213, 212, 212);
  box-shadow: 3px 2px 9px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 3px 2px 9px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 2px 9px 3px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}
.signup__title {
  font-size: 26px;
  padding-top: 40px;
  padding-left: 55px;
}
.signup__form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
}
.signup__input {
  margin-top: 15px;
  height: 30px;
  border: none;
  font-size: 17px;
  padding: 10px 10px;
  border-radius: 5px;
}
.signup__btn_container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.signup__btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signup__btn:hover {
  background-color: rgb(238, 221, 224);
}
/* login config */
.login__container {
  margin: 20px 80px;
}
.login__form_container {
  width: 300px;
  height: 300px;
  background-color: rgb(213, 212, 212);
  box-shadow: 3px 2px 9px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 3px 2px 9px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 2px 9px 3px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}
.login__title {
  font-size: 26px;
  padding-top: 40px;
  padding-left: 55px;
}
.login__form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
}
.login__input {
  margin-top: 15px;
  height: 30px;
  border: none;
  font-size: 17px;
  padding: 10px 10px;
  border-radius: 5px;
}
.login__btn {
  width: 70px;
  margin-top: 20px;

  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  align-self: center;
}
